@model TheBlogProject.Models.Post

@{
    ViewData["Title"] = "Details";
}

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div>
                    <h1 class="text-center">@Model.Title</h1>
                </div>
                <hr/>
                <div>
                    <h5>Abstract:</h5>
                    <p>@Model.Abstract</p>
                </div>
                <hr/>
                <div>
                    <p class="container">@Html.Raw(Model.Content)</p>
                </div>
            </div>
        </div>
    </div>
</article>



<hr/>

<article>
    <div class="row">
        <div class="col text-center font-weight-bold h3">
            Custom Post Tags
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            @foreach (var tag in Model.Tags)
            {
                <a class="btn btn-warning btn-sm btn-outline-dark" asp-action="TagIndex" asp-route-tag="@tag.Text.ToLower()">#@tag.Text</a>
            }
        </div>
    </div>
</article>

<hr/>


<!-- TODO: Display comments related to this post -->
<!-- TODO: Display the image of the comment's author -->