@using TheBlogProject.Services


@inject IImageService ImageService
@model IEnumerable<Blog>

@{
    ViewData["Title"] = "Blogs";
}
<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>

</div>

